@font-face {
   font-family: Garamond;
   src: url(Garamond.ttf);
}

@font-face {
   font-family: Garamond;
   src: url(Garamond_Bold.ttf);
   font-weight: bold;
}

* {
    font-family: Garamond, serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    font-weight: normal;
    color: #fdcc00;
}


/* Footer Styles */


#footer{
    display: flex;
    flex-wrap: wrap;
		background-color: #1C4935; 
}

.single-contact {
	margin: 4px;
}

#footer .single-contact:nth-child(1), #footer .single-contact:nth-child(2){
    border-right: 2px solid #1F9547;
}

.single-contact{
    background-color: #1C4935;
    flex: 1 0 400px;
}

.single-contact p{
    font-family: Garamond;
    font-weight: normal;
    font-size: 24px;;
    color: #FFFFFF;
    text-align: center;
}

a.contact-email-link, a.contact-email-link:hover{
    color: #fdcc00;
    font-family: Garamond, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

a.contact-email-link:hover{
    color: #FFFFFF;
}

@media only screen and (max-width: 1280px) {
    
    #footer{
        display: block; 
    }
        
    .single-contact{
        padding: 16px 0px;
    }    
    
    #footer .single-contact:nth-child(1), #footer .single-contact:nth-child(2){
    border-right: none;
    border-bottom: 4px solid #1F9547;
    }
}