@font-face {
   font-family: Garamond;
   src: url(Garamond.ttf);
}

@font-face {
   font-family: Garamond;
   src: url(Garamond_Bold.ttf);
   font-weight: bold;
}

/******* Banner Styles *******/

#header{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
}

#banner{
    background-color: #1C4935;
    height: 112px;
    display: flex;
}

#banner a {
	margin: 0 auto;
}

#banner .banner-logo{
    height: calc(100% - 16px);
    padding: 8px;
    max-width: 132px;
    max-height: 132px;
}

#banner .banner-title{
	display: none;
    font-size: 24px;
    flex-grow: 1;
	padding-top: 35px;
}

@media only screen and (min-width: 768px) {
    #banner .banner-title{
        font-size: 44px;
		display: block;
		padding-right: 132px;
		padding-top: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    #banner .banner-title{
        font-size: 72px;  
    }
}

/********* Navigation Bar *********/

#nav{
    height: auto;
    max-height: 64px;
    background-color: #1F9547;
    overflow: hidden;
    transition: max-height .3s;
    min-width: 100%; 
}

#nav ul{
    list-style-type: none;
    padding: 0px;
}

#nav a{
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
    text-transform: uppercase;
    padding: 0px;
    display: block;
}



#nav li:hover {
    background-color: #1C4935;
}

#nav a:hover {
	color: #fdcc00;
}

#mobile-menu-title{
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #fdcc00;
    font-size: 32px;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    cursor: pointer;
    
}

#nav.show-mobile-menu{
    display: block;
    max-height: 480px;
    transition: max-height .3s;
}

@media only screen and (min-width: 768px) {
    
    #nav {
        height: auto;
        width: 0 auto;
    }
    
    #nav ul{
        display:flex;
        justify-content: space-around;
        padding: 0px;
        flex-wrap: wrap;
		width: 90%;
    }
    
    #nav a{
        display: inline;
        font-size: 14px;  
        padding: 0px 4px;
    }
    
    #mobile-menu-title{
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
	
	#nav a{
        display: inline;
        font-size: 18px;  
        padding: 0px 4px;
    }
	
    #nav ul{
        display:flex;
        justify-content: space-around;
        padding: 0px;
        flex-wrap: wrap;
        width: 75%;
        margin: 0 auto;
    }
	
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}