@font-face {
   font-family: Garamond;
   src: url(Garamond.ttf);
}

@font-face {
   font-family: Garamond;
   src: url(Garamond_Bold.ttf);
   font-weight: bold;
}

* {
    font-family: Garamond, serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    font-weight: normal;
    color: #fdcc00;
}


/******* Banner Styles *******/

#header{
    width: 100%;
		position: fixed;
		top: 0;
	  left: 0;
		z-index: 5;
}

#banner{
    background-color: #1C4935;
    height: 112px;
    display: flex;
}

#banner .banner-logo{
    height: calc(100% - 16px);
    padding: 8px;
    max-width: 132px;
    max-height: 132px;
}

#banner .banner-title{
    font-size: 32px;
    padding-top: 18px;
    padding-right: 132px;
    flex-grow: 1;
}

@media only screen and (min-width: 768px) {
    #banner .banner-title{
        font-size: 44px;
    }
}

@media only screen and (min-width: 1200px) {
    #banner .banner-title{
        font-size: 72px;
    }
}

/********* Navigation Bar *********/

#nav{
    height: auto;
    max-height: 64px;
    background-color: #1F9547;
    overflow: hidden;
    transition: max-height .7s;
    position: static;
    min-width: 100%;
    
}

#nav ul{
    list-style-type: none;
    padding: 0px;
}

#nav a{
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
    text-transform: uppercase;
    padding: 0px;
    display: block;
}

#nav li:hover {
    background-color: #1C4935;
}

#nav a:hover {
		color: #fdcc00;
}

#mobile-menu-title{
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #fdcc00;
    font-size: 32px;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    cursor: pointer;
    
}

#nav.show-mobile-menu{
    display: block;
    max-height: 480px;
    transition: max-height .7s;
}

@media only screen and (min-width: 768px) {
    
    #nav {
    height: auto;
    width: 0 auto;
		position: sticky;
		position: -webkit-sticky;
		top: 0;
    }
    
    #nav ul{
        display:flex;
        justify-content: space-around;
        padding: 0px;
        flex-wrap: wrap;
				width: 90%;
				margin: 0 auto;
    }
    
    #nav a{
        display: inline;
        font-size: 14px;  
        padding: 0px 4px;
    }
    
    #nav li{
       // flex: 1 1 0;
    }
    
    #mobile-menu-title{
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
	
	    #nav a{
        display: inline;
        font-size: 18px;  
        padding: 0px 4px;
    }
	
	    #nav ul{
        display:flex;
        justify-content: space-around;
        padding: 0px;
        flex-wrap: wrap;
				width: 75%;
				margin: 0 auto;
    }
	
}