/* Global Site Styles */

@font-face {
   font-family: Garamond;
   src: url(Garamond.ttf);
}

@font-face {
   font-family: Garamond;
   src: url(Garamond_Bold.ttf);
   font-weight: bold;
}

* {
    font-family: Georgia, serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    font-weight: normal;
    color: #fdcc00;
}

p{ 
    color: #1C4935;
}


a:link, a:hover, a:visited{
    font-size: 24px;
    font-family: "Georgia", serif;
    font-style: normal;
    text-decoration: underline;
    font-weight: normal;
    text-align: center;
    color: green;
}

a:hover{
    font-weight: bold;
    color: greenyellow;
}

a:visited{
    color: darkgreen;
}



#main-content{
    padding-top: 200px;
}


/* Index Styles */


/* Image Carousel */
.rslides {
  position: relative;
  list-style: none;
	max-height: 640px;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  width: 80%;
  border: 0;
	margin: 0 auto;
  }


/* make caontainers for these items and flex them */
.announcement-title{
    font-size: 60px;
    color: #fdcc00;
    text-decoration: underline;
}

.announcement-message{
    font-size: 48px;
    color: #1C4935;
}

.events-title{
    font-size: 60px;
    color: #fdcc00;
    text-decoration: underline;
}

.events-list a{
    font-size: 36px;
    color: #1C4935;
    text-decoration: underline;
}

.events-list a:hover{
    color: #fdcc00;
}

.embed-video-player{
    padding: 25px;
}

/* Contact Us */

#contact-us-form{
    background-color: aquamarine;
    margin: 0 auto;
}
