/* Global Site Styles */


* {
    font-family: Georgia, serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    font-weight: normal;
    color: #fdcc00;
}

p{ 
    color: #1C4935;
}


a:link, a:hover, a:visited{
    font-size: 24px;
    font-family: "Georgia", serif;
    font-style: normal;
    text-decoration: underline;
    font-weight: normal;
    text-align: center;
    color: green;
}

a:hover{
    font-weight: bold;
    color: greenyellow;
}

a:visited{
    color: darkgreen;
}



#main-content{
    padding-top: 200px;
}


/* Index Styles */


.cover-photo{
    max-width: 80%;
    max-height: auto;
    padding-top: 5%;    
}

.announcement-title{
    font-size: 60px;
    color: #fdcc00;
    text-decoration: underline;
}

.announcement-message{
    font-size: 48px;
    color: #1C4935;
}

.events-title{
    font-size: 60px;
    color: #fdcc00;
    text-decoration: underline;
}

.events-list a{
    font-size: 36px;
    color: #1C4935;
    text-decoration: underline;
}

.events-list a:hover{
    color: #fdcc00;
}

.embed-video-player{
    padding: 25px;
}

/* Contact Us */

#contact-us-form{
    background-color: aquamarine;
    margin: 0 auto;
}
