/* Global Site Styles */


* {
    font-family: Georgia, serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    font-weight: normal;
    color: #fdcc00;
}

p{ 
    color: #1C4935;
}


a:link, a:hover, a:visited{
    font-size: 24px;
    font-family: "Georgia", serif;
    font-style: normal;
    text-decoration: underline;
    font-weight: normal;
    text-align: center;
    color: green;
}

a:hover{
    font-weight: bold;
    color: greenyellow;
}

a:visited{
    color: darkgreen;
}



#main-content{
    padding-top: 200px;
}

/* Banner Styles */

#header{
    width: 100%;
}

#banner{
    background-color: #1C4935;
    height: 144px;
    display: flex;
}

#banner .banner-logo{
    height: calc(100% - 16px);
    padding: 8px;
    max-width: 132px;
    max-height: 132px;
}

#banner .banner-title{
    font-size: 28px;
    padding-top: 36px;
    padding-right: 132px;
    flex-grow: 1;
}

@media only screen and (min-width: 768px) {
    #banner .banner-title{
        font-size: 38px;
    }
}

@media only screen and (min-width: 1200px) {
    #banner .banner-title{
        font-size: 50px;
    }
}

/* Navigation Bar */

#nav{
    height: auto;
    background-color: #1F9547;
}

#nav ul{
    list-style-type: none;
    padding: 0px; 
}

#nav a{
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
    text-transform: uppercase;
    padding: 8px;
    display: block;
}

#nav a:hover{
    color: #fdcc00;
    background-color: #1C4935;
}

.mobile-menu-title{
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #fdcc00;
    font-size: 32px;
    text-transform: uppercase;
    padding: 8px;
    display: block;
    
}

@media only screen and (min-width: 1280px) {
    
    
    #nav ul{
        display:flex;
        justify-content: space-around;
        padding: 0px;
        flex-wrap: wrap;
    }
    
    #nav a{
        display: inline;
        font-size: 24px;  
        padding: 0px 8px;
    }
    
    #nav li{
       // flex: 1 1 0;
    }
    
    .mobile-menu-title{
        display: none;
    }
}

/* Index Styles */




.cover-photo{
    max-width: 80%;
    max-height: auto;
    padding-top: 5%;    
}

.announcement-title{
    font-size: 60px;
    color: #fdcc00;
    text-decoration: underline;
}

.announcement-message{
    font-size: 48px;
    color: #1C4935;
}

.events-title{
    font-size: 60px;
    color: #fdcc00;
    text-decoration: underline;
}

.events-list a{
    font-size: 36px;
    color: #1C4935;
    text-decoration: underline;
}

.events-list a:hover{
    color: #fdcc00;
}

.embed-video-player{
    padding: 25px;
}

/* Contact Us */

#contact-us-form{
    background-color: aquamarine;
    margin: 0 auto;
}


/* Footer */



#footer{
    display: flex;
    flex-wrap: wrap;
}

#footer .single-contact:nth-child(1), #footer .single-contact:nth-child(2){
    border-right: 4px solid #1F9547;
}

.single-contact{
    background-color: #1C4935;
    flex: 1 0 400px;
}

.single-contact p{
    font-family: Georgia;
    font-weight: bold;
    font-size: 24px;;
    color: #FFFFFF;
    text-align: center;
}

a.contact-email-link, a.contact-email-link:hover{
    color: #fdcc00;
    font-family: "Georgia", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

a.contact-email-link:hover{
    color: #1C4935;
    background-color: #fdcc00;
}

@media only screen and (max-width: 1280px) {
    
    #footer{
        display: block; 
    }
        
    .single-contact{
        padding: 16px 0px;
    }    
    
    #footer .single-contact:nth-child(1), #footer .single-contact:nth-child(2){
    border-right: none;
    border-bottom: 4px solid #1F9547;
    }
}