/* Global Site Styles */

@font-face {
   font-family: Garamond;
   src: url(Garamond.ttf);
}

@font-face {
   font-family: Garamond;
   src: url(Garamond_Bold.ttf);
   font-weight: bold;
}

* {
	font-family: Garamond, serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

body {
	font-size: 24px;
	font-weight: normal;
	color: #fdcc00;
	background-color: #F3F3F3;
}

p{ 
    color: #1C4935;
}


a:link, a:hover, a:visited{
    font-size: 24px;
    font-family: Garamond, serif;
    font-style: normal;
    text-decoration: underline;
    font-weight: normal;
    text-align: center;
    color: green;
}

a:hover{
    font-weight: bold;
    color: greenyellow;
}

a:visited{
    color: darkgreen;
}



#main-content{
		padding-top: 30px;
		min-height: 720px;
}

@media only screen and (max-width: 768px) {

	#main-content{
    padding-top: 30px;
	}
	
}

/* Image Carousel */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
	max-height: 600px;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  width: 98%;
  border: 0;
	margin: 0 auto;
  }


/* Index Content */

#index-column-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto;
	width: 98%;
	background-color: #ddd;
}

.col1, .col2, .col3 {
	width: 30%;
	min-width: 400px;
	flex-grow: 1;
	padding: 1%;
	margin: .5%;
	min-height: 400px;
	background-color: #F2F3F4;
}


.title{
    font-size: 48px;
		padding-bottom: 50px;
    color: #789707;
    text-decoration: underline;
}

/* Announcements Column */

.announcement-message{
    font-size: 36px;
    color: #1C4935;
}

/* Events Column */

.events-list li {
		padding-bottom: 50px;
		list-style: none;
}

.events-list a{
    font-size: 36px;
    color: #1C4935;
    text-decoration: underline;
}

.events-list a:hover{
    color: #b38f00;
}

/* Performances Column */




.embed-container { 
		display: block;
}

.embed-container h3 {
	display: block;
	width: 100%;
	color: #789707;
	padding-bottom: 20px;
}

.embed-container iframe {
		padding-bottom: 20px;
}




/*Quotes*/

.quotes {
		position: relative;
		min-height: 400px;
		max-height: 400px;
}

.quotes img {
		width: 50px;
		height: 50px;
}

.quotes img:nth-of-type(1) {
		position: absolute;
		left: 100px;
		top: 50px;
}

.quotes img:nth-of-type(2) {
		position: absolute;
		right: 100px;
		bottom: 50px;
}

.quotes blockquote {
		padding: 150px;
		color: #C4C4C4;
		font-size: 4vw;
		display: none;
		margin: auto;
		font-style: italic;
}

.quotes blockquote:nth-of-type(1) {
		display: block;
}


@media (max-width: 768px) {

	.quotes blockquote{
		padding: 150px 50px;
    font-size: 6vw;
	}	
}

/* Calendar Page */

#full-calendar {
	padding-top: 175px;
	padding-bottom: 20px;
	margin: 0 auto;
	top: 200px;
	width: 80%;
	min-width: 768px;
}

#full-calendar iframe {
	width: 100%; 
	height: 800px;
}

 @media (max-width: 768px) {
	 
     .desktop-calendar {
         display: none;
     }
	 
	 	 #full-calendar {
				 padding-top: 200px;
				 min-width: 0px;
	 }
 }

 @media (min-width: 769px) {
	 
		.mobile-calendar {
				 display: none;
     } 
 }

/* Contact Us */

#contact-us {
	color: black;
}

.form-style {
	margin:10px auto;
	max-width: 1000px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style label{
	font-size: 18px;
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea, 
select{
	font-size: 16px;
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0 auto;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style input[type=text]:focus,
.form-style input[type=email]:focus,
.form-style textarea:focus, 
.form-style select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style .field-divided{
	width: 30%;
}
.form-style .field-long{
	width: 30%;
}
.form-style .field-select{
	width: 30%;
}
.form-style .field-textarea{
	width: 60%;
	height: 200px;
}
.form-style input[type=submit], .form-style input[type=button]{
	cursor: pointer;
	font-size: 24px;
	background: #4B99AD;
	padding: 16px 30px 16px 30px;
	border: none;
	color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
#error {
	color: red;
}
.form-style .required{
	color:red;
}

#error, #status {
	font-size: 18px;
}