/* Default Site Styles */


body{
    font-size: 24px;
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: bold;
    font-display: block;
    text-align: center;
    color: #fdcc00;
    margin: 0;
}

a:link{
    font-size: 24px;
    font-family: "Georgia", serif;
    font-style: normal;
    text-decoration: underline;
    font-weight: normal;
    font-display: block;
    text-align: center;
    color: green;
}

a:hover{
    font-size: 24px;
    font-family: "Georgia", serif;
    font-style: normal;
    text-decoration: underline;
    font-weight: bold;
    font-display: block;
    text-align: center;
    color: greenyellow;
}

a:visited{
    font-size: 24px;
    font-family: "Georgia", serif;
    font-style: normal;
    text-decoration: underline;
    font-weight: normal;
    font-display: block;
    text-align: center;
    color: darkgreen;
}

h1{
    font-size: 48px;
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: bold;
    font-display: block;
    letter-spacing: 2px;
    text-align: center;
    color: #fdcc00;
}

h2{
    font-size: 36px;
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: bold;
    font-display: block;
    text-align: center;
    color: #fdcc00;
}

h3{
    font-size: 32px;
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: bold;
    font-display: block;
    text-align: center;
    color: #fdcc00;
}

p{ 
    font-size: 24px;
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: bold;
    font-display: block;
    text-align: center;
    color: darkgreen;
}

ul, dl{
    list-style-type: none;
    padding: 0px;
}

a.email-link{
    color: #fdcc00;
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: bold;
    font-display: block;
    text-align: center;
}

a.email-link:hover{
    color: #1C4935;
    background-color: #fdcc00;
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: bold;
    font-display: block;
    text-align: center;
}


/* Banner Styles */


#bannerlogo img{
    max-width: 10%;
    max-height: auto;
    min-height: 1vw;
    margin: 0px;
    float: left;
}

#bannertitle h1{
    font-size: 5vw;
    background-color: #1C4935;
    margin: 0px;
    padding-top: 2%;
    padding-bottom: 2.5%;
}


/* Navigation Bar */

/* Note: color change do not extend all the way to the top and bottom at certain resolutions */

#navigation p{
    font-family: "Georgia", serif;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    background-color: #1F9547;
    color: #FFFFFF;
    margin: 0;
}

#navigation a{
    font-size: 1.7vw;
    font-family: "Georgia", serif;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    background-color: #1F9547;
    color: #FFFFFF;
    padding-left: .3%;
    padding-right: .3%;
}

#navigation a:hover{
    color: #fdcc00;
    background-color: #1C4935;
}


/* Footer */

/* This wasn't working for me so I had to write them out individually 
.contacts p{
    font-size: 1.2vw;
    color: #FFFFFF;
}
*/
#contact-director1{
    float: left;
    width: 33.33%;
    background-color: #1C4935;
}

#contact-director1 p {
    font-size: 1.2vw;
    color: #FFFFFF;
}

#contact-director1 a {
    font-size: 1.2vw;
}

#contact-director2{
    float: left;
    width: 33.33%;
    background-color: #1C4935;
}

#contact-director2 p{
    font-size: 1.2vw;
    color: #FFFFFF;
}

#contact-director2 a {
    font-size: 1.2vw;
}

#contact-director3{
    float: left;
    width: 33.33%;
    background-color: #1C4935;
}

#contact-director3 p{
    font-size: 1.2vw;
    color: #FFFFFF;
}

#contact-director3 a {
    font-size: 1.2vw;
}