/* Global Site Styles */

/* struggling with changing fonts*/

body, h1, h2, h3, p{
    font-size: 24px;
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: bold;
    font-display: block;
    text-align: center;
    color: #fdcc00;
    margin: 0;
}

h1{
    font-size: 48px;
    letter-spacing: 2px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 32px;
}

p{ 
    color: #1C4935;
}

ul, dl{
    list-style-type: none;
    padding: 0px;
}

a:link, a:hover, a:visited{
    font-size: 24px;
    font-family: "Georgia", serif;
    font-style: normal;
    text-decoration: underline;
    font-weight: normal;
    font-display: block;
    text-align: center;
    color: green;
}

a:hover{
    font-weight: bold;
    color: greenyellow;
}

a:visited{
    color: darkgreen;
}

a.email-link, a.email-link:hover{
    color: #fdcc00;
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: bold;
    font-display: block;
    text-align: center;
}

a.email-link:hover{
    color: #1C4935;
    background-color: #fdcc00;
}


/* Banner Styles */


#bannerlogo img{
    max-width: 10%;
    max-height: auto;
    min-height: 1vw;
    margin: 0px;
    float: left;
}

#bannertitle h1{
    font-size: 5vw;
    background-color: #1C4935;
    margin: 0px;
    padding-top: 2%;
    padding-bottom: 2.5%;
}


/* Navigation Bar */

/* Note: color change do not extend all the way to the top and bottom at certain resolutions */

#navigation p, #navigation a{
    font-family: "Georgia", serif;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    background-color: #1F9547;
    color: #FFFFFF;
    margin: 0;
}

#navigation a{
    font-size: 1.7vw;
    padding-left: .3%;
    padding-right: .3%;
}

#navigation a:hover{
    color: #fdcc00;
    background-color: #1C4935;
}


/* Index Styles */

.cover-photo{
    max-width: 80%;
    max-height: auto;
    padding-top: 5%;    
}

.announcement-title{
    font-size: 60px;
    color: #fdcc00;
    text-decoration: underline;
}

.announcement-message{
    font-size: 48px;
    color: #1C4935;
}

.events-title{
    font-size: 60px;
    color: #fdcc00;
    text-decoration: underline;
}

#event-list a{
    font-size: 36px;
    color: #1C4935;
    text-decoration: underline;
}

#event-list a:hover{
    color: #fdcc00;
}

.embed-video-player{
    padding: 25px;
}

/* Footer */


#contact-director1, #contact-director2, #contact-director3{
    float: left;
    width: 33.33%;
    background-color: #1C4935;
}

#contact-director1 p, #contact-director2 p, #contact-director3 p{
    font-size: 1.2vw;
    color: #FFFFFF;
}

#contact-director1 a, #contact-director2 a, #contact-director3 a {
    font-size: 1.2vw;
}